@font-face {
    font-family: POPPINS_BOLD;
    src: url(./all-fonts/Poppins-Bold.ttf);
}
@font-face {
    font-family: POPPINS_SEMIBOLD;
    src: url(./all-fonts/Poppins-SemiBold.ttf);
}
@font-face {
    font-family: POPPINS_NORMAL;
    src: url(./all-fonts/Poppins-Medium.ttf);
}
@font-face {
    font-family: POPPINS_THIN;
    src: url(./all-fonts/Poppins-Light.ttf);
}